/*.row {
    border: 1px solid black;
}*/

/*#data {
    margin: 5px 10px;
    padding: 5px 10px;
    background-color:rgb(102, 179, 255);
    color: #ffffff; 
    display: inline-block;
}*/
.head {
    background-color: white;
    color: black;
}


