/*.row {
    border: 1px solid black;
}*/

/*#data {
    margin: 5px 10px;
    padding: 5px 10px;
    background-color:rgb(102, 179, 255);
    color: #ffffff; 
    display: inline-block;
}*/
.head {
    background-color: white;
    color: black;
}
#search {
    text-align: left;
    border: 3px solid #5BC0DE;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header {
    text-align: center;
}
.container {
    border-top: 3px solid #4B7089;
    margin-top: 20px;
}

